* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

p {
    page-break-inside: avoid;
}

.container {
    background-color: white;
}

.header {
    font-size: 36pt;
    border-bottom: 1px solid;
    margin-bottom: 20px;

}

.det {
    font-size: 12pt;
    margin: 15px 0;
    font-weight: bold;
}

.det_wrap {
    display: flex;
    align-items: center;
    height: 20px;
}

.detret {
    font-size: 12pt;
}

.det_con_Desc {
    font-size: 10pt;
}

.det_con {
    margin-bottom: 20px;
}

.footer {
    border-top: 1px solid;
    padding-top: 10px;
    font-size: 9pt;
    font-style: italic;
}

.EPName {
    font-size: 22pt;
    margin: 20px 0;
}

#ep_highlights {
    font-style: italic
}

table {
    width: 98%;
    margin-top: 20px;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

table th {
    background-color: black;
    color: white;
    margin: 10px 0;
    font-size: 12pt;
}

table td {
    font-size: 10pt;
    text-align: center;
}

table tr{
    page-break-inside: avoid;
}
