* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

p {
    page-break-inside: avoid;
}

.container {
    background-color: white;
}

.header {
    border-bottom: 1px solid;
    margin-bottom: 20px;
}

.det {
    font-size: 10pt;
    margin: 15px 0;
    font-weight: 600;
}

.det_wrap {
    display: flex;
    align-items: center;
    height: 20px;
}

.detret {
    font-size: 9pt;
}

.det_con_Desc {
    font-size: 9pt;
}

.det_con {
    margin-bottom: 20px;
}

.footer {
    border-top: 1px solid;
    padding-top: 10px;
    font-size: 9pt;
    font-style: italic;
}

.EPName {
    font-size: 22pt;
    margin: 20px 0;
}

#ep_highlights {
    font-style: italic
}

table {
    width: 98%;
    margin-top: 20px;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

table th {
    background-color: black;
    color: white;
    margin: 10px 0;
    font-size: 12pt;
}

table td {
    font-size: 10pt;
    text-align: center;
}

table tr {
    page-break-inside: avoid;
}

#imgplaceholder {
    height: .7in;
    width: .7in;
}

.top p {
    font-size: 10pt;
    margin: 5px 0;
    letter-spacing: 1px;
}

.top {
    margin-bottom: 10px;
    text-align: center;
}

#top_title {
    font-size: 12pt;
    font-weight: 700;
}

.top .detret {
    font-size: 12pt;
    letter-spacing: 3px;
    margin: 30px 0;
}

.cert_wrap {
    line-height: 1.5;
    font-size: 9.5pt;
    text-align: justify;
}

#cert_wrap01 {
    margin-left: 40px;
}

#signature {
    text-align: right;
}

#cert_con {
    padding: 0 10px;
}

#cert_wrapp{
    page-break-inside: avoid;
}