<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaints</title>

    <!--Styling-->
    <link rel="stylesheet" href="/assets/css/reports.css">

    <!--html2pdf library-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
        integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--es6-promise library-->
    <script src="\assets\js\es6-promise-master\es6-promise.auto.min.js"></script>
    <!--jspdf library-->
    <script src="\assets\js\jsPDF-master\jspdf.min.js"></script>
    <!--html2canvas library-->
    <script src="\assets\js\html2canvas-master\html2canvas.min.js"></script>
    <!--html2pdf library-->
    <script src="assets\js\html2pdf.js-master\html2pdf.min.js"></script>

</head>

<body>
    <div class="container" id="container">
        <div class="wrapper">
            <div class="header">COMPLAINTS</div>
            <div class="contents">

                <p class="det">Complaint No.</p>
                <p class="det">Date: </p>
                <br>
                <p class="det">Complainant: </p>
                <p class="det">Complaint Date: </p>
                <p class="det">Subject of Complaint: </p>
                <br>
                <p class="det">Details: </p>

                <div class="det_con">
                    <p class="det_con_Desc">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Proin consequat varius lacinia.
                        Nam vel ante lorem. Donec ullamcorper nibh tincidunt dolor feugiat vulputate.
                        Mauris diam purus, lobortis et neque ut, convallis dictum quam. Nunc mattis mollis lorem,
                        vitae consequat justo dapibus sed. Nunc ut venenatis lectus, in egestas tellus.
                        Fusce semper auctor mi quis laoreet. Praesent convallis augue metus, id feugiat tellus lobortis
                        et.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt eleifend nisl non
                        feugiat.
                        Integer quis enim sed sapien volutpat faucibus eget id ex. Fusce non consectetur nisi.
                        Fusce sit amet dolor dictum risus cursus molestie in ac nibh. <br> <br>
                        Quisque turpis magna, posuere ut enim ultricies,
                        iaculis placerat lacus. Phasellus vehicula, tortor quis porta fermentum,
                        risus magna finibus ipsum, vitae malesuada sapien arcu non tortor. Nulla at
                        porta justo. Curabitur vitae neque tincidunt, dignissim dui id, varius elit.
                        Aliquam placerat, felis id pulvinar varius, quam enim faucibus massa, non gravida elit libero
                        sed urna.
                        Donec tincidunt vel est et congue. Sed id semper nisi. Etiam ac mi blandit, bibendum nisi a,
                        feugiat magna.
                        Pellentesque finibus imperdiet velit. Praesent ornare ut risus at gravida.</p>

                    <p class="det_con_Desc">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Proin consequat varius lacinia.
                        Nam vel ante lorem. Donec ullamcorper nibh tincidunt dolor feugiat vulputate.
                        Mauris diam purus, lobortis et neque ut, convallis dictum quam. Nunc mattis mollis lorem,
                        vitae consequat justo dapibus sed. Nunc ut venenatis lectus, in egestas tellus.
                        Fusce semper auctor mi quis laoreet. Praesent convallis augue metus, id feugiat tellus lobortis
                        et.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt eleifend nisl non
                        feugiat.
                        Integer quis enim sed sapien volutpat faucibus eget id ex. Fusce non consectetur nisi.
                        Fusce sit amet dolor dictum risus cursus molestie in ac nibh. <br> <br>
                        Quisque turpis magna, posuere ut enim ultricies,
                        iaculis placerat lacus. Phasellus vehicula, tortor quis porta fermentum,
                        risus magna finibus ipsum, vitae malesuada sapien arcu non tortor. Nulla at
                        porta justo. Curabitur vitae neque tincidunt, dignissim dui id, varius elit.
                        Aliquam placerat, felis id pulvinar varius, quam enim faucibus massa, non gravida elit libero
                        sed urna.
                        Donec tincidunt vel est et congue. Sed id semper nisi. Etiam ac mi blandit, bibendum nisi a,
                        feugiat magna.
                        Pellentesque finibus imperdiet velit. Praesent ornare ut risus at gravida.</p>

                    <p class="det_con_Desc">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Proin consequat varius lacinia.
                        Nam vel ante lorem. Donec ullamcorper nibh tincidunt dolor feugiat vulputate.
                        Mauris diam purus, lobortis et neque ut, convallis dictum quam. Nunc mattis mollis lorem,
                        vitae consequat justo dapibus sed. Nunc ut venenatis lectus, in egestas tellus.
                        Fusce semper auctor mi quis laoreet. Praesent convallis augue metus, id feugiat tellus lobortis
                        et.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt eleifend nisl non
                        feugiat.
                        Integer quis enim sed sapien volutpat faucibus eget id ex. Fusce non consectetur nisi.
                        Fusce sit amet dolor dictum risus cursus molestie in ac nibh. <br> <br>
                        Quisque turpis magna, posuere ut enim ultricies,
                        iaculis placerat lacus. Phasellus vehicula, tortor quis porta fermentum,
                        risus magna finibus ipsum, vitae malesuada sapien arcu non tortor. Nulla at
                        porta justo. Curabitur vitae neque tincidunt, dignissim dui id, varius elit.
                        Aliquam placerat, felis id pulvinar varius, quam enim faucibus massa, non gravida elit libero
                        sed urna.
                        Donec tincidunt vel est et congue. Sed id semper nisi. Etiam ac mi blandit, bibendum nisi a,
                        feugiat magna.
                        Pellentesque finibus imperdiet velit. Praesent ornare ut risus at gravida.</p>
                </div>

                <div class="footer">
                    Footer Statements here Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Nunc posuere orci vitae nisl faucibus,
                    nec rutrum metus rutrum. Curabitur efficitur mi et ligula tempus,
                    eu placerat mauris porttitor. In consectetur ultrices enim,
                    ut vestibulum dui dignissim non.
                </div>

            </div>
        </div>
    </div>

    <!--Button for PDF Generation-->
    <button id="save">Generate as PDF</button>


    <script src="/assets/js/print.js"></script>
</body>

</html>