<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership Status</title>

    <!--Styling-->
    <link rel="stylesheet" href="../../assets/css/reports.css" type="text/css">

    <!--html2pdf library-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
        integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--es6-promise library-->
    <script src="../../assets/js/es6-promise-master/lib/es6-promise.auto.js"></script>
    <!--jspdf library-->
    <script src="../../assets/js/jsPDF-master/dist/jspdf.es.min.js"></script>
    <!--html2canvas library-->
    <script src="../../assets/js/html2canvas-master/package.json"></script>
    <!--html2pdf library-->
    <script src="../../assets/js/html2pdf.js-master/dist/html2pdf.min.js"></script>

</head>

<!--Button for PDF Generation-->
<button id="save">Generate as PDF</button>

<div class="container" id="container">
    <div class="wrapper">
        <div class="header">Membership Status</div>
        <div class="contents">

            <div class="det_wrap">
                <p class="det">Date: &nbsp</p>
                <p class="detret"> 3</p>
            </div>
            <div class="det_wrap">
                <p class="det">Requested by: &nbsp</p>
                <p class="detret"> 3</p>
            </div>

            <table class="mem_info">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Membership Status</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Miguel Santos</td>
                        <td>January 23, 2025</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Miguel Santos</td>
                        <td>January 23, 2025</td>
                    </tr>
                </tbody>               
            </table>
            <div class="footer">
                Footer Statements here Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Nunc posuere orci vitae nisl faucibus,
                nec rutrum metus rutrum. Curabitur efficitur mi et ligula tempus,
                eu placerat mauris porttitor. In consectetur ultrices enim,
                ut vestibulum dui dignissim non.
            </div>
        </div>
    </div>
</div>

<script src="../../assets/js/print.js"></script>
</body>

</html>